
services:
  postgres:
    image: postgres:15
    container_name: PostgreSQLDatabase
    environment:
      POSTGRES_DB: musicdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-scripts:/docker-entrypoint-initdb.d 
    networks:
      - app_network

  redis:
    image: redis:7-alpine
    container_name: Redis-MusicMicroservice
    restart: unless-stopped
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data


volumes:
  postgres_data:
  redis_data:

networks:
  app_network:
    driver: bridge


    